In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [50]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [51]:
url = './Melbourne_housing_FULL.csv'
df = pd.read_csv(url)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [52]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [53]:
new_df = df.copy()
new_df = new_df.dropna()

In [54]:
num_cols = [col for col in new_df.columns if new_df[col].dtypes != 'O']
cate_cols = [col for col in new_df.columns if new_df[col].dtypes=='O']

In [55]:
cate_cols

['Suburb',
 'Address',
 'Type',
 'Method',
 'SellerG',
 'Date',
 'CouncilArea',
 'Regionname']

In [56]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#output of fit_transform of Label Encoder is already a Numpy Array
new_df['Suburb'] = le.fit_transform(new_df['Suburb'])
new_df['CouncilArea'] = le.fit_transform(new_df['CouncilArea'])
new_df['SellerG'] = le.fit_transform(new_df['SellerG'])

In [57]:
new_df = pd.get_dummies(new_df, columns=['Type'], prefix='Type')
new_df = pd.get_dummies(new_df, columns=['Method'], prefix='Method')
new_df = pd.get_dummies(new_df, columns=['Regionname'], prefix='Regionname')

In [58]:
new_df

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Method_SP,Method_VB,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
2,0,25 Bloomburg St,2,1035000.0,22,4/02/2016,2.5,3067.0,2.0,1.0,...,0,0,0,0,1,0,0,0,0,0
4,0,5 Charles St,3,1465000.0,22,4/03/2017,2.5,3067.0,3.0,2.0,...,1,0,0,0,1,0,0,0,0,0
6,0,55a Park St,4,1600000.0,147,4/06/2016,2.5,3067.0,3.0,1.0,...,0,1,0,0,1,0,0,0,0,0
11,0,124 Yarra St,3,1876000.0,147,7/05/2016,2.5,3067.0,4.0,2.0,...,0,0,0,0,1,0,0,0,0,0
14,0,98 Charles St,2,1636000.0,147,8/10/2016,2.5,3067.0,2.0,1.0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,310,27 Birchmore Rd,3,500000.0,183,24/02/2018,25.5,3750.0,3.0,2.0,...,0,0,0,0,1,0,0,0,0,0
34849,310,35 Kingscote Wy,3,570000.0,180,24/02/2018,25.5,3750.0,3.0,2.0,...,1,0,0,0,1,0,0,0,0,0
34853,314,29A Murray St,2,888000.0,205,24/02/2018,6.3,3013.0,2.0,2.0,...,1,0,0,0,0,0,0,0,1,0
34854,314,147A Severn St,2,705000.0,98,24/02/2018,6.3,3013.0,2.0,1.0,...,0,0,0,0,0,0,0,0,1,0
34856,314,3 Tarrengower St,2,1020000.0,180,24/02/2018,6.3,3013.0,2.0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [59]:
da_Address = new_df['Address']
da_Address_arr = []
da_Local_arr = []
for s in da_Address:
    if (s.find('/') == -1):
        da_Local_arr.append(0)
    else:
        da_Local_arr.append(1)
    da_Address_arr.append(s.split()[1])
# da_Address_arr
new_df['local'] = da_Local_arr

new_df['Date'] = pd.to_datetime(new_df['Date'])

new_df['year'] = [float(x.year) for x in new_df['Date']]
new_df['month'] = [float(x.month) for x in new_df['Date']]
new_df = new_df.drop(['Date', 'Address', 'Bedroom2', 'Lattitude', 'Longtitude'], axis=1)

In [60]:
num_cols

['Rooms',
 'Price',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [62]:
rb_col = ['Price', 'Distance', 'Postcode', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'BuildingArea']
rb_scaler = RobustScaler()
new_df[rb_col] = rb_scaler.fit_transform(new_df[rb_col])

In [68]:
new_df.describe()

,Suburb,Rooms,Price,SellerG,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,...,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria,local,year,month
count,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,...,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000
mean,156.060988,3.098909,0.274008,121.922471,0.133318,0.260968,-0.353550,-0.307753,0.103364,0.216368,...,0.005739,0.293912,0.006976,0.041746,0.304602,0.231687,0.004839,0.237088,2016.724204,6.722404
std,90.155487,0.963786,0.965031,71.495023,0.908454,1.062399,0.721611,0.975464,2.412101,1.099070,...,0.075541,0.455578,0.083238,0.200020,0.460265,0.421934,0.069395,0.425321,0.657290,2.961684
min,0.000000,1.000000,-1.092330,0.000000,-1.360000,-0.792453,-1.000000,-2.000000,-1.086364,-1.650000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016.000000,1.000000
25%,80.000000,2.000000,-0.367898,69.000000,-0.506667,-0.377358,-1.000000,-1.000000,-0.604545,-0.400000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016.000000,4.000000
50%,155.000000,3.000000,0.000000,127.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,7.000000
75%,235.000000,4.000000,0.632102,181.000000,0.493333,0.622642,0.000000,0.000000,0.395455,0.600000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2017.000000,9.000000
max,314.000000,12.000000,11.505682,249.000000,4.960000,8.424528,7.000000,8.000000,96.186364,37.250000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2018.000000,12.000000

In [63]:
new_train_x = new_df.drop(['Price'], axis=1)
new_train_y = new_df['Price']

In [64]:

x_train, x_valid, y_train, y_valid = train_test_split(new_train_x, new_train_y, test_size=0.2)

rf_model = LinearRegression()
rf_model.fit(x_train, y_train)

y_pred = rf_model.predict(x_valid)

In [65]:
from sklearn import metrics
print('MAE: ', metrics.mean_absolute_error(y_valid, y_pred))
print('MSE:', metrics.mean_squared_error(y_valid, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_valid, y_pred)))
print('R_Square:', metrics.r2_score(y_valid, y_pred))

MAE:  0.3590219942079718
MSE: 0.34576756990124885
RMSE: 0.5880200420914655
R_Square: 0.6291865625157609